<h1>This is a pop Stack (FIFO)</h1>
<p>
  This page display the previously "pushed" numbers in reversed
  order (FILO).
</p>


<div>
  <%= @popArray.join '  ' %>
</div>
<br/>
<div>
  <form><a href=/stack/push><button type="button"><b>Back</b></button></a></form>
</div>
